<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DBconnection</servlet-name>
  	<display-name>DBconnection</display-name>
  	<description></description>
  	<servlet-class>utils.DBconnection</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfileServlet</servlet-name>
  	<display-name>ProfileServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<display-name>AddToCartServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AddToCartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCartServlet</servlet-name>
  	<display-name>UpdateCartServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveItemServlet</servlet-name>
  	<display-name>RemoveItemServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.RemoveItemServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>AdminDashboardServlet</servlet-name>
  	<display-name>AdminDashboardServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateOrderStatusServlet</servlet-name>
  	<display-name>UpdateOrderStatusServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.UpdateOrderStatusServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelOrderServlet</servlet-name>
  	<display-name>CancelOrderServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditOrderServlet</servlet-name>
  	<display-name>EditOrderServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.EditOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProductServlet</servlet-name>
  	<display-name>EditProductServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.EditProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProductServlet</servlet-name>
  	<display-name>DeleteProductServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditUserServlet</servlet-name>
  	<display-name>EditUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.EditUserServlet</servlet-class>
  </servlet>
 
  <servlet>
  	<servlet-name>EditUserPage</servlet-name>
  	<display-name>EditUserPage</display-name>
  	<description></description>
  	<servlet-class>servlets.EditUserPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<display-name>CheckoutServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.CheckoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProcessPaymentServlet</servlet-name>
  	<display-name>ProcessPaymentServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.ProcessPaymentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlaceOrderServlet</servlet-name>
  	<display-name>PlaceOrderServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<display-name>logout</display-name>
  	<description></description>
  	<servlet-class>servlets.logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetUserDetailsServlet</servlet-name>
  	<display-name>GetUserDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.GetUserDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateOrderServlet</servlet-name>
  	<display-name>UpdateOrderServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddUserServlet</servlet-name>
  	<display-name>AddUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<display-name>DeleteUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProductServlet</servlet-name>
  	<display-name>AddProductServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminUpdateProfileServlet</servlet-name>
  	<display-name>AdminUpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AdminUpdateProfileServlet</servlet-class>
  </servlet>
 

  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping id="idvalue0">
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DBconnection</servlet-name>
  	<url-pattern>/DBconnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfileServlet</servlet-name>
  	<url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCartServlet</servlet-name>
  	<url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveItemServlet</servlet-name>
  	<url-pattern>/RemoveItemServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>AdminDashboardServlet</servlet-name>
  	<url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateOrderStatusServlet</servlet-name>
  	<url-pattern>/UpdateOrderStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelOrderServlet</servlet-name>
  	<url-pattern>/CancelOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditOrderServlet</servlet-name>
  	<url-pattern>/EditOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProductServlet</servlet-name>
  	<url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProductServlet</servlet-name>
  	<url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditUserServlet</servlet-name>
  	<url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>EditUserPage</servlet-name>
  	<url-pattern>/EditUserPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcessPaymentServlet</servlet-name>
  	<url-pattern>/ProcessPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlaceOrderServlet</servlet-name>
  	<url-pattern>/PlaceOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetUserDetailsServlet</servlet-name>
  	<url-pattern>/GetUserDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateOrderServlet</servlet-name>
  	<url-pattern>/UpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddUserServlet</servlet-name>
  	<url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductServlet</servlet-name>
  	<url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminUpdateProfileServlet</servlet-name>
  	<url-pattern>/AdminUpdateProfileServlet</url-pattern>
  </servlet-mapping>
 
  
</web-app>
